@font-face {
    font-family: 'Avenir';
    src: url(../assets/Font/AvenirNextLTPro-Regular.otf ) format("opentype");
    font-style: normal;
    font-weight: 400;

}

@font-face {
    font-family: 'Avenir';
    src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
    font-style: normal;
    font-weight: 600;

}

@font-face {
    font-family: 'Avenir';
    src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
    font-style: normal;
    font-weight: 700;

}