$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/* Font Sizes */
$page-header-font-size: 1.5rem;
$section-header-font-size: 1.5rem;
$subheader-font-size: .875rem;
$body-copy-font-size: 0.8125rem;
$footer-copy-font-size: .8125rem;

/* Line Heights */
$page-header-line-height: 2rem;
$section-header-line-height: 2rem;
$subheader-line-height: 1.375rem;
$body-copy-line-height: 1.125rem;
$footer-copy-line-height: 1.125rem;

/* Font Weights */
$page-header-font-weight: 700;
$section-header-font-weight: 700;
$subheader-font-weight: 600;
$body-copy-font-weight: 400;
$footer-copy-font-weight: 700;